<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-6">
        <div class="about-text go-to">
          <h3 class="dark-color">{{user.firstName}} {{user.lastName}}</h3>
          <h6 class="theme-color lead">
            {{user.headline}}
          </h6>
          <div class="row about-list">
            <div class="col-md-5">
              <div class="media">
                <label>Birthday</label>
                <p class="pmedia">{{generateDate user.birthday "Do MMMM"}}</p>
              </div>
              <div class="media">
                <label>Age</label>
                <p class="pmedia">{{calcAge user.birthday}}</p>
              </div>
              <div class="media">
                <label>City</label>
                <p class="pmedia">{{user.city}}</p>
              </div>
              <div class="media">
                <label>State</label>
                <p class="pmedia">{{user.state}}</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="media">
                <label>E-mail</label>
                <p class="pmedia">{{user.email}}</p>
              </div>
              <div class="media">
                <label>Status</label>
                <p class="pmedia">{{user.status}}</p>
              </div>
              <div class="media">
                <label>District</label>
                <p class="pmedia">{{user.district}}</p>
              </div>
              <div class="media">
                <label>Pin Code</label>
                <p class="pmedia">{{user.pincode}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-avatar">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar7.png"
            title=""
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="counter">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="500" data-speed="500">500</h6>
            <p class="m-0px font-w-600">Books Posted</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="150" data-speed="150">150</h6>
            <p class="m-0px font-w-600">Available Books</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="850" data-speed="850">350</h6>
            <p class="m-0px font-w-600">Books Donated</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="190" data-speed="190">190</h6>
            <p class="m-0px font-w-600">Books Borrowed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<h2>{{user.firstName}}'s Posts: </h2>
<div class="row">
  {{#each posts}}
    <div class="col-md-6">
      <!-- Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="/uploads/{{file}}" alt="Book Image" />
        <div class="card-body">
          <h2 class="card-title">{{title}}</h2>
          <p class="card-text">{{body}}</p>
          <a href="/post/{{id}}" class="btn btn-primary">View Post &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on
          {{generateDate date "MMMM Do YYYY"}}
        </div>
      </div>
    </div>
  {{/each}}
</div>