<h1>Update Profile</h1>

{{#each errors}}

  <div class="alert alert-danger">
    {{message}}
  </div>

{{/each}}
{{! enctype="multipart/form-data" }}
<form action="/user/update/?_method=PUT" method="post">
  <div class="form-group">
    <label for="headline">Headline</label>
    <input
      name="headline"
      value="{{user.headline}}"
      class="form-control"
      id="headline"
      type="text"
      placeholder="Enter Headline (Eg: Student at XYZ College.)"
    />
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="birthday">Birthday</label>
        <input
          name="birthday"
          value="{{generateDate user.birthday 'YYYY-MM-DD'}}"
          class="form-control"
          id="birthday"
          type="date"
        />
      </div>
      <div class="col-md-3">
        <label for="status">Status</label>
        <select name="status" class="form-control" id="status">
          {{#select user.status}}
            <option value="Student">Student</option>
            <option value="Working">Working</option>
          {{/select}}
        </select>
      </div>
      <div class="col-md-3">
        <label for="gender">Gender</label>
        <select name="gender" class="form-control" id="gender">
          {{#select user.gender}}
            <option value="male">Male</option>
            <option value="female">Female</option>
          {{/select}}
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="firstName">City</label>
        <input
          name="city"
          value="{{user.city}}"
          class="form-control"
          id="city"
          type="text"
          aria-describedby="nameHelp"
          placeholder="Enter your City"
        />
      </div>
      <div class="col-md-6">
        <label for="lastName">District</label>
        <input
          name="district"
          value="{{user.district}}"
          class="form-control"
          id="district"
          type="text"
          aria-describedby="nameHelp"
          placeholder="Enter last name"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="firstName">State</label>
        <input
          name="state"
          value="{{user.state}}"
          class="form-control"
          id="state"
          type="text"
          aria-describedby="nameHelp"
          placeholder="Enter your State"
        />
      </div>
      <div class="col-md-6">
        <label for="lastName">Pin Code</label>
        <input
          name="pincode"
          value="{{user.pincode}}"
          class="form-control"
          id="pincode"
          type="text"
          aria-describedby="nameHelp"
          placeholder="Enter You Pin Code"
        />
      </div>
    </div>
  </div>

  {{! <div class="form-group">
    <label for="pincode">Enter Pincode</label>
    <input
      name="pincode"
      type="text"
      class="form-control"
      id="pincode"
      placeholder="Enter Pin"
    />
  </div>

  pincodeDirectory.lookup(682028); }}
  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>